.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f8f8f8;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 36px;
	margin-top: 0;
}

h2 {
	font-size: 24px;
}

a {
	color: blue;
}

a:hover {
	text-decoration: underline;
}

hr {
	border: none
